body {
    background-image: url('../imagenes/2008-08-27-12.09.21-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    cursor: url('../imagenes/cursor.png'), auto;
    background-color: #A29C9B ;
}
.headerDer a:hover, img:hover {
    cursor: url('../imagenes/splashed.png'), pointer;
}
h1, h2, h3, p {
    padding-left: 15px;
    padding-right: 15px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 150px;
    background-color: rgba(240, 248, 255, 0.35);
}
.headerIzq {
    color: #511C29;
}
.headerIzq h1 {
    font-size: 45px;
}
.headerDer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 20px;
}
.headerDer a {
    text-decoration: none;
    color: #511C29;
    font-size: 30px;
    border: solid 3px #511C29;
    border-radius: 25px;
    background-color: #DB324D;
}
.fondoHistoria1, .fondoHistoria2, .fondoHistoria3 {
    background-color: rgba(240, 248, 255, 0.35);
}
.historia h2, h3,  p {
    color: #511C29;
}
.historia h2, h3 {
    font-size: 40px;
}
.historia p {
    font-size: 25px;
}
.ir {
   background-color: rgba(240, 248, 255, 0.35);
   color: #511C29; 
}
.ir h3 {
    font-size: 40px;
}
.ir p {
    font-size: 25px;
}

.normas h2 {
    font-size: 50px;
    color: #511C29;
    background-color: rgba(240, 248, 255, 0.35);
}
.columnas {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.que-llevar, .que-no-llevar, .comportamiento, .consejos-adicionales {
    background-color: rgba(240, 248, 255, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.que-llevar li, .que-no-llevar li, .comportamiento li, .consejos-adicionales li {
    color: #511C29;
    font-size: 25px;
}
@media (max-width:480px) {
    body {
        background-color: #DB324D;
        background-size: 100%;
        background-image: url();
    }
    header {
        display: flex;
        flex-direction: column;
        height: 150px;
        background-color: rgba(240, 248, 255, 0.35);
    }
    .headerIzq h1{
        font-size:40px;
    }
    .headerDer {
        height: 150px;
        min-height: 50px;
    }
    .headerDer a{
        font-size: 20px;
        height: 25px;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }

    iframe {
        width: 100% ;
        height: 300px;
        display: block;
    }

    .columnas {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 768px ) {
    body {
        background-color: #DB324D;
        background-image: none;
        background-size: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        height: 150px;
        background-color: rgba(240, 248, 255, 0.35);
    }
    .headerIzq h1{
        font-size:40px;
    }
    .headerDer {
        height: 150px;
        min-height: 50px;
    }
    .headerDer a{
        font-size: 20px;
        height: 25px;
    }
    .historia img:first-of-type {
        width: 100%;
        float: none;
        display: block;
    }
    .columnas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .historia img {
        width: 50%;
        height: auto;
        display: block;
    }
    .historia img:nth-of-type(odd) {
        float: left;
    }
    .historia img:nth-of-type(even) {
        float: right;
    }
}


