body {
    background-image: url('../imagenes/Tomatina_2006.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.espacioArriba{
    height: 150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    background-color: rgba(240, 248, 255, 0.5);
}

.headerIzq {
    color: #511C29;
    font-size: xx-large;
}

.headerDer {
    display: flex;
    justify-content: space-between;
}

.headerDer a {
    text-decoration: none;
    color: #511C29;
    font-size: xx-large;
}